<!DOCTYPE html>
<html>
    <head>
        <title>This is a title</title>
    </head>
    <body>
        <div>
            <p>Hello world!</p>
            <form action="/connect" method="post">
                <select name="ssid">
                    <% networks.forEach(function (network) { %>
                        <option value="<%=network.ssid%>"><%=network.ssid%></option>
                    <% }) %>
                </select>
                <input type="text" name="password" />
                <button type="submit">Connect</button>
            </form>
        </div>
    </body>
</html>
